@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0%;
    padding: 0%;

}
body{
    font-family: 'Roboto',sans-serif;
    background-color: #ffffff;
    margin-top: 20px;

}
:root{
    --primary-colour: #2874f0;
}
.container{
    padding: 0 8px;
    margin: 10px;
    margin-top: 50px;
}
/* Header*/
header{
    background-color: rgb(255, 255, 255);
    height: 66px;
    margin-top: 30px;
 
}
.nav-container{
   display: flex;
   align-items: center;
   height: 100%;
   max-width: 1248px;
   margin: 0 auto;
   margin-left: 120px;

}

.nav-container.logo{
    display: flex;
    min-width: 140px;
    justify-content: center ;

}
.logo img{
   width: 120px;

}
.search{
    height: 120%;
    display: flex;
    align-items: center;
    margin-left: 12px;
    
}
.search-container{
    width: 570px;
    height: 50px;
    background-color:  rgb(217, 225, 237);
    border-radius: 2px;
    box-shadow: 0 2 px 4px 0 rgb(0,0,0 / 23%);
    display: flex;
    border-radius: 15px 15px 15px 15px;
}
.search-container input{
    width: calc(100% - 32px);
    padding: 16px;
    outline: none;
    border: none;
    font-size: 18px;
    background-color: rgb(217, 225, 237);
    margin-left: 15px;
    border-radius: 13px;
}
.search-container button{
    width: 36px;
    height: 100%;
    padding: 1px;
    display:inline;
    justify-content:center;
    align-items:center;
    border:  none;
    background-color: white;
    border-radius: 0 2px 0 2px 0;
    cursor: pointer;
    background-color:  rgb(217, 225, 237);
    margin-right: 25px;
  
}
.search-container button:hover{
    size: 25px;
}
.login{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.login button{
    width: 130px;
    height: 43px;
    padding: 5px 30px;
    font-size: 19px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: solid rgb(255, 255, 255);
    background-color: white;
}
.login button:hover{
    background-color: var(--primary-colour);
    color: #ffffff;

}
.become-seller{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}
.become-seller:hover{
    font-size: 19px;
    cursor: default;
}
.more{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
}
.more svg{
    margin-left: 8px;
    rotate: -90deg;
}
.more:hover{
    font-size: 19px ;
    cursor: default;
}
.cart{
    height: 100%;
    align-items: center;
    margin:  20px;
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 17px;
}
.cart:hover{
    font-size: 18px;
    cursor: default;
}


/* section1*/

.section-1{
    width: 100%;
    height: 122px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgb(0,0,0 / 16%);
}

.section-1-container{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.section-1-item{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
}
.section-1-item img{
    width: 64px;
    height: 64px;
    margin-top: 30px;
    
}

.section-2-container{
    margin-top: 16px;
    height: 200px;
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/1600/270/image/c096498cafe9027c.png?q=20);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-color: white;
    margin-top: 40px;
}

.section-3-container{
    margin-top: 8px;
    height: 122px;
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/2848/246/image/d56a3ed6d200038a.jpg?q=50);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-4-container{
    height: 362px;
    margin-top: 10px;
    background-color: #ffffff;
    display: contents;
    margin-left: 200px;

}

.section-4-list{
    height: 100%;
    width: calc(100% 230px);
    display: flex;
    overflow: auto;
    margin-left: 30px;
    
}
.section-4-items{
   width: 232px;
   height: 100%;
   padding: 0 15px;
   display: flex;
   flex-direction: column;
   align-items: baseline;
   justify-content: center;

}
.section-4-items img{
    max-width: 200px;
    max-height: 200px;
    margin-top: 30px;
}
.section-4-itemhead{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500px;
    
}
.price{
    margin-top: 7px;
    font-size: 16px;
    color: black;
}
.section-5-container{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 50px;
}
.section-5-container img{
   width: 33%;

}


.footpanel{
    text-align: center;
    background-color: #2d3f51;
    color: #ffffff;
    height: 10pxpx;
    justify-content: center;
    display: flex;
    font-size: 18px;
    padding: 20px;
}

.footpanel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    padding: 40px;

  

}

.footpanel2 p{
    margin-top: 30px;
    color: #7a7676;
    margin-left: 20px;
    font-size: large;
    
}

.footpanel2 a{
    display: block;
    margin-top: 5px;
    margin-left: 19px;
    font-size: medium;
    
 
}

.footpanel3{
    background-color: #2b3846;
    border-top: 0.5px solid #ffffff;
    color: white;
    height: 70px;
}


.footpanel4{
    background-color: #13161a;
    color: white;
    height: 90px;
}
.pages{
    font-size: .9rem;
    text-align: center;
    padding: 25px;
}
.copyright{
    font-size: 0.8rem;
    text-align: center;
    margin-top: -15px;
}
.footpanel3 img{
    display: flex;
    text-align: center;
    margin-left: 600px;
  margin-top: -40px;
    
}
.line{
    border-right: 1px solid white;
}
.tele{
    color: var(--primary-colour);
}